.wrapper {
  position: relative;
  height: 1200px;
  padding: 90px 0px 90px 0px;
}

.section-parallax__parallax {
  width: 100%;
  position: absolute;
  top: 0px;
}

.section-parallax__img-1 {
  position: sticky;
  top: 90px;
  width: 100%;
  height: 605px;
  display: block;
  object-fit: cover;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.section-parallax__description-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 402px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  background: rgb(109, 126, 123, 0.5);
  backdrop-filter: blur(10px);
  padding: 20px;
  position: sticky;
  top: 180px;
  left: 168px;
  z-index: 200;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.section-parallax__img-2 {
  background: url('./../images/kaliningrad-banner-2.webp');
  position: sticky;
  top: 0;
  width: 100%;
  height: 605px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  gap: 25px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.img-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 402px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  background: rgb(109, 126, 123, 0.5);
  backdrop-filter: blur(10px);
  padding: 20px;
  position: absolute;
  bottom: 78px;
  right: 168px;
  z-index: 200;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.img-link {
  color: var(--other-color);
  font-size: var(--fsz-medium);
  font-family: var(--fw-family);
  font-weight: var(--fw-medium);
  text-decoration: underline;
}

.section-parallax__title {
  color: #213247;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding: 80px 0px 24px 0px;
}

.section-parallax__container {
  align-items: flex-start !important;
  color: #ffffff;
}

.section-parallax__text {
  text-align: left;
}

.section-parallax__text::before {
  position: absolute;
  content: url('./../images/marker.svg');
  left: 30px;
}

@media (max-width: 1300px) {
  .section-parallax__description-container {
    left: calc(50% - 620px / 2);
  }

  .section-parallax__img-2 {
    height: 900px;
    object-fit: cover;
  }
}

@media (max-width: 692px) {
  .section-parallax__description-container {
    left: calc(50% - 434px / 2);
    width: 434px;
  }

  .section-parallax__img-2 {
    height: 900px;
  }

  .img-text {
    color: #ffffff;
    font-size: var(--fsz-little);
    font-family: var(--fw-family);
  }
}

@media (max-width: 500px) {
  .section-parallax__description-container {
    left: calc(50% - 315px / 2);
    width: 315px;
  }

  .img-text {
    font-size: var(--fsz-little-plus);
  }

  .wrapper {
    position: relative;
    height: 1220px;
    padding: 90px 0px 90px 0px;
  }

  .section-parallax__img-1 {
    width: 100%;
    height: 610px;
  }

  .section-parallax__img-2 {
    width: 100%;
    height: 700px;
    padding: 0px 50px 30px 0px;
    gap: 25px;
  }
}
